main {
  height: 80vh;
}

.margin-custom {
  margin: 3rem auto 0 auto;
}

.custom-padding-right {
  padding-right: 1.5rem;
}

.align-custom-label {
  padding-left: 0;
}

.margin-custom-select {
  margin-right: 1.5rem;
}